.img_panel{
	padding:0;
	height: 250px;
}

.yoko_pic{
	width:100vh;
	height:150px;
	padding:0;
}
.sns{
	height:200px;
	font-size: 25px;
	font-family:Times New Roman;
	color:#fffffc;
}
.nav-link{
	color: #c8c2c6;	
	font-family:Times New Roman;
	font-size: 20px;
	margin-top: 20px;
}
.footer-copyright{
	color: #c8c2c6;
	font-family:Times New Roman;	
	font-size: 12px;
}
.v_line_left {
  border-left: thin solid;
  color:#c8c2c6;
  padding-left: 20px;
}